<h1>Create a New Room Listing</h1>
<form method="post"action="/rooms">
  <p>Title:<input type="text"name="listing_title"></p>
  <p>Location:<input type="text"name="location"></p>
  <p>Cost per night:<input type="text"name="cost"></p>
  <p>Occupancy:<input type="text"name="occupancy"></p>
  <p>Contact email:<input type="email"name="contact"></p>
  <p><input type="text"name=""></p>

  <input type="submit"value="Create Listing">
</form>
