<h1>Welcome to the Washington D.C area rooms for rent site!</h1>
<a href="/signup">Create Account</a> or <a href="/login">Log in</a> to make a listing.
<br>
<br>
<a href="/rooms">View Rooms</a>

<!--users don't need to create an account to view listings, but need to in order to make or edit.

make a listing link shouldnt be on this page
